<main>
    <h1 class="one">Nos services</h1>
    <div class="container text-center">
        <div class="row">
          <div class="col">
          <img src="assets/cuping therapy.jpg" alt="">
          <p>Copy
            Cette technique millénaire consiste à placer des ventouses spécialement conçues sur des points stratégiques de votre corps pour stimuler la circulation sanguine, détendre les muscles, et réduire les tensions.</p>
            <button> En savoir plus </button>
          </div>
          <div class="col">
            <img src="assets/drainage lymphatique.jpg" alt="">
            <p>Découvrez l'art subtil de la massothérapie avec notre drainage lymphatique, une technique délicate visant à réveiller la circulation de la lymphe dans votre corps tout en favorisant l'élimination en douceur des déchets.</p>
            <button> En savoir plus </button>
        </div>
          <div class="col">
            <img src="assets/massage ayurvédique.jpg" alt="">
          <p>Permet de relaxer profondément le sujet et pérmettant de relacher les tensions nerveuse et musculaire,Permet de relaxer profondément le sujet et pérmettant de relacher les tensions nerveuse et musculaire  </p>
          <button> En savoir plus </button>
          </div>
        </div>
      </div>
      <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3"><h1>Qui suis-je?</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo quisquam alias accusantium quod dicta voluptate tempora ab consequatur temporibus aut, quibusdam beatae id omnis. Fugiat molestiae dolores porro earum incidunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique temporibus saepe vel ipsa qui aperiam distinctio, accusamus architecto facere voluptate voluptatum excepturi voluptatem deserunt, cupiditate optio facilis quod, quisquam molestiae!</p>
           </div>
          </div>
          <div class="col">
            <div class="p-3"><img src="assets/photo siham tante djilani.png" alt=""></div>
          </div>
        </div>
      </div>
      <div class="container px-4 text-center">
        <h1>Nous Contacter</h1>
        <div class="row gx-5">
          <div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.765158356069!2d6.980822599999999!3d43.54893699999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ce8248a6842b13%3A0x3f0dd19b6162699f!2s6%20Rue%20Barth%C3%A9l%C3%A9my%2C%2006150%20Cannes!5e0!3m2!1sfr!2sfr!4v1691642769138!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col">
            <div class="p-3"><ul>
                <li><img src="assets/icone heure.png" alt="">Horaires :</li>
                <li><img src="assets/icone mail.png">mail.rafi.quilici@orange.fr</li>
                <li><img src="assets/icone tel.png"alt="">06.13.52.67.37</li>
                <li><img src="assets/icone position.png" alt="">adresse</li>
            </ul></div>
          </div>
          <mat-form-field class="example-full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button (click)="picker.open()">Open</button>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Prénom</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Nom</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>
          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>      
      </div>
</main>

